<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>english</title>
    <link rel="stylesheet" href="../quiz.css">
</head>

<body>
    <div class="quizpage">
        <div class="container">
            <div class="head">
                <h3>Pipes&Cisterns</h3>
            </div>

            <div class="sideitem">
                <div class="time">
                    <h2>220</h2>
                </div>
                <div class="score">
                    <h2>SCORE:1</h2>
                </div>
            </div>




            <div class="questions">
                <div class="quest">
                    <div class="counter">
                        <h2>4/10</h2>
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci quisquam sit perspiciatis
                        suscipit iste fugit facilis totam. Consequuntur corrupti hic dicta ipsum nobis tempora! Quo
                        aliquam reiciendis natus earum in!</p>
                </div>
            </div>


            <div class="option">
                <button id="opt">ENGLISH</button>
                <button id="opt">REASONING</button>
                <button id="opt">GEN.KNOWLEDGE</button>
                <button id="opt">SCIENCE</button>
            </div>

            <div class="next">
                <button id="next">Next Question</button>
            </div>

        </div>
    </div>
</body>
</html>

</html>
