* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.quizpage {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 40%;
    height: 80%;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.head {
    display: flex;
    justify-content: center;
    margin-top: 50px;
   
}

.sideitem {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 20px;
   
    height: 70px;
}

.time {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(8, 177, 244);

}

.counter {
    position: absolute;
    top: -30px; /*Adjust this value to place the counter where desired*/
    left: calc(50% - 25px); /* To horizontally center the counter */
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(8, 177, 244);
    background-color: white;
}

.count {
    display: flex;
    justify-content: center;


}

.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quest {
    width: 500px;
    height: 160px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    margin-top: 20px;
    position: relative; /* Position relative for absolute positioning of counter */
}

.option {
    display: grid;
    justify-content: center;
    grid-template-columns: 15rem 15rem;
    margin-top: 20px;
    padding: 10px;
    row-gap: 20px;
    column-gap: 30px;
}

button {

    border: 2px solid rgb(8, 177, 244);
    padding: 10px;
    margin-left: 10px;
    border-radius: 20px;
    background-color: white;
}

button:hover {
    background-color: rgb(8, 177, 244);
}

.next {
    display: flex;
    justify-content: center;
}

#next {
    width: 200px;

}

