*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.resultpage{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 40%;
    height: 60%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.quizresult{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 25px;
    color: rgb(8, 177, 244);
}
.name{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-weight:bold ;
}

.buttons{
    display: flex;
    justify-content: center;
    padding: 5px;
}
button{
    width: 8rem;
    margin-top: 30px;
    padding: 10px;
    border-radius: 20px;
   margin: 5px;
}
button:hover{
    background-color:rgb(8, 177, 244) ;
}